#footer {
    background: #666 none repeat scroll 0 0;
    margin: 0;
    overflow: hidden;
    padding: 5px 0;
    text-align: left;
    width: 100%;
}
#footer img {
    display: block;
    float: right;
    margin: 0 10px;
    max-height: 50px;
    max-width: 100%;
    width: auto;
}
#footer p {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    line-height: 29px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
#footer a {
    color: #fff;
    text-decoration: none;
}/* CSS Document */

